<div class="blogpost">
  <nav class="blogpost-breadcrumb" aria-label="breadcrumbs">
    <ol>
      <li>
        <a href="/">Add-ons</a>
      </li>
      <li>
        <a href="{% if config.is_wordpress_theme %}/{% else %}/blog/{% endif %}">Blog</a>
      </li>
      <li>
        <a href="{{ postPermalink }}" aria-current="location">{{ title }}</a>
      </li>
    </ol>
  </nav>
  <div class="blogpost-content">
    <div class="blogpost-content-wrapper">
      {{ postContent }}
    </div>
  </div>
  <aside class="blogpost-sidebar">
    <dl class="blogpost-meta">
      <div class="blogpost-meta-updated">
        <dt class="updated">Updated</dt>
        <dd class="updated">{{ postModifiedDate }}</dd>
      </div>
      {% if postAuthor %}
      <div class="blogpost-meta-author">
        <dt class="author">By</dt>
        <dd class="author">{{ postAuthor }}</dd>
      </div>
      <div class="blogpost-meta-avatar">
        <dt class="author-avatar visually-hidden">Avatar</dt>
        <dd class="author-avatar"><img src="{{ postAuthorAvatar }}"></dd>
      </div>
      {% endif %}
      {% if tweetText %}
      <div class="blogpost-meta-share-twitter">
        <dt class="share-twitter">Share</dt>
        <dd class="share-twitter">
          <a class="share-twitter-link" href="https://twitter.com/intent/tweet/?text={{ tweetText }}&url={{ tweetURL }}?{{ 'utm_source=twitter&utm_medium=social&utm_campaign=amo_blog_share' | urlencode }}">
            Twitter
          </a>
        </dd>
      </div>
      {% endif %}
    </dl>
  </aside>
</div>
