{# This is used by the `blog.njk` templates. #}
<li class="blog-entry">
  <div class="blog-entry-featured-image">
  {% if postFeaturedImage %}
    <img src="{{ postFeaturedImage }}">
  {% endif %}
  </div>

  <h2 class="blog-entry-title">
    <a href="{{ postPermalink }}">{{ postTitle }}</a>
  </h2>

  <p class="blog-entry-date">
  <time datetime="{{ postDate }}">{{ postDate }}</time>
  </p>

  <div class="blog-entry-excerpt">
    {{ postExcerpt | safe }}

    <p class="blog-entry-read-more">
      <a class="blog-entry-read-more-link" href="{{ postPermalink }}">
        Read more
      </a>
    </p>
  </div>
</li>
