{# This is used by the `blog.njk` templates. #}
<li class="blog-entry">
  <a class="blog-entry-link" href="{{ postPermalink }}" title="Permanent link to “{{ postTitle }}”">
    <div class="blog-entry-featured-image">
      {% if postFeaturedImage %}
      <img src="{{ postFeaturedImage }}">
      {% endif %}
    </div>
    <h2 class="blog-entry-title">
      {{ postTitle }}
    </h2>
  </a>

  <p class="blog-entry-date">
  <time datetime="{{ postDate }}">{{ postHumanReadableDate }}</time>
  </p>

  <div class="blog-entry-excerpt">
    {{ postExcerpt | safe }}

    <p class="blog-entry-read-more">
      <a class="blog-entry-read-more-link" href="{{ postPermalink }}">
        Read more
      </a>
    </p>
  </div>
</li>
