<div class="blogpost">
  <div class="blogpost-content">
    <div class="blogpost-content-wrapper">
      {{ postContent }}
    </div>
  </div>
  <aside class="blogpost-sidebar">
    <div class="blogpost-meta">
      <p class="updated">Updated {{ postModifiedDate }}</p>
      {% if postAuthor %}
      <p class="author">By {{ postAuthor }}</p>
      <p class="author-avatar"><img src="{{ postAuthorAvatar }}"></p>
      {% endif %}
    </div>
  </aside>
</div>
