<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if title %}{{ title }} - {% endif %}{{ markup.siteTitle }}</title>

  {{ blogpost.seoHead | safe({ isHeadMarkup: true }) }}

  <link rel="apple-touch-icon" href="{{ config.asset_path|safe }}/assets/img/favicon.png">
  <link rel="shortcut icon" href="{{ config.asset_path|safe }}/assets/img/favicon.ico">
  <link rel="stylesheet" href="{{ config.asset_path|safe }}/assets/css/styles.css">
</head>
