<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ seo.title }}</title>

  <link rel="canonical" href="{{ seo.canonicalURL }}" />
  <meta name="description" content="{{ seo.description }}" />

  <meta property="og:description" content="{{ seo.description }}" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:url" content="{{ seo.canonicalURL }}" />
  <meta property="article:published_time" content="{{ fileDate.published }}" />

  <script type="application/ld+json">{{ seo.jsonLD }}</script>

  <link rel="apple-touch-icon" href="/assets/img/favicon.png">
  <link rel="shortcut icon" href="/assets/img/favicon.ico">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

