<header class="Header">
  <div class="Header-wrapper">
    <div class="Header-content">
      <h1 class="Header-title-wrapper">
        <a class="Header-title" href="/">
          <span class="visually-hidden">Firefox Browser Add-ons
          </span>
        </a>
      </h1>
    </div>
    <ul class="SectionLinks Header-SectionLinks">
      <li>
        <a class="SectionLinks-link SectionLinks-blog SectionLinks-link--active" href="/blog/">Blog
        </a>
      </li>
      <li>
        <a class="SectionLinks-link SectionLinks-explore" href="/en-US/firefox/">Explore
        </a>
      </li>
      <li>
        <a class="SectionLinks-link" href="/en-US/firefox/extensions/">Extensions
        </a>
      </li>
      <li>
        <a class="SectionLinks-link SectionLinks-link-theme" href="/en-US/firefox/themes/">Themes
        </a>
      </li>
    </ul>
    <div class="Header-user-and-external-links">
      <a class="Header-extension-workshop-link Header-button" title="Learn how to create extensions and themes" target="_blank" rel="noopener noreferrer" href="https://extensionworkshop.com/?utm_source=addons.mozilla.org&amp;utm_medium=referral&amp;utm_content=header-link">Extension Workshop
        <span class="Icon Icon-external">
        </span>
      </a>
      <a class="Header-developer-hub-link Header-button" title="Submit and manage extensions and themes" target="_blank" rel="noopener noreferrer" href="/en-US/developers/">Developer Hub
        <span class="Icon Icon-external">
        </span>
      </a>
    </div>
  </div>
</header>
