# exclude everything by default
*.*
# exclude these directories
/build/
/cache/
/coverage/
/dist/
/node_modules/
/tests/fixtures/
/vendor/
# exclude these files
/codecov
/src/assets/fonts/LICENSE
*.lock
# Allow files we want to process
!*.js
!*.scss
!*.md
!*.php
