@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found in `$breakpoints` map.";
  }
}

@mixin font-family-inter() {
  font-family: 'Inter', sans-serif;
  @supports (font-variation-settings: normal) {
    font-family: 'Inter Var', sans-serif;
  }
}

@mixin font-regular() {
  @include font-family-inter();

  font-style: normal;
  font-weight: 400;
}

@mixin padding-end($val) {
  [dir='ltr'] & {
    padding-right: $val;
  }

  [dir='rtl'] & {
    padding-left: $val;
  }
}

@mixin margin-end($val) {
  [dir='ltr'] & {
    margin-right: $val;
  }

  [dir='rtl'] & {
    margin-left: $val;
  }
}
