$white: #fff;
$black: #000;
$light-gray: #eee;

$link-color: $blue-60;
$dark-blue: #20123a;

$default-padding: 20px;
$default-margin: $default-padding;

$max-content-width: 1366px;

// See: https://mozilla.design/firefox/typography/
$body-sm-font-size: 14px;
$body-sm-line-height: 22px;
$heading-xxs-font-size: 20px;
$heading-xxs-line-height: 24px;
$heading-xs-font-size: 24px;
$heading-xs-line-height: 28px;
$heading-sm-font-size: 32px;
$heading-sm-line-height: 36px;
$heading-md-font-size: 40px;
$heading-md-line-height: 44px;

// No "small" breakpoint is defined here because we are mobile-first.
//
// Instead of adding a rule for only mobile, add a mobile rule and override it
// with `@include respond-to(m) { [...] }`.
$breakpoints: (
  m: only screen and
    (
      min-width: 500px,
    ),
  l: only screen and
    (
      min-width: 720px,
    ),
  xl: only screen and
    (
      min-width: 900px,
    ),
  xxl: only screen and
    (
      min-width: $max-content-width,
    ),
);
