$white: #fff;
$black: #000;
$link-color: $blue-60;
$dark-blue: #20123a;
$default-padding: 20px;
$default-margin: $default-padding;
$max-content-width: 1366px;

// We used https://mozilla.design/firefox/typography/ as a starting point but
// line-heights are slightly different because we want unitless values.
$body-sm-font-size: 16px;
$body-sm-line-height: 1.5;
$heading-xxs-font-size: 20px;
$heading-xxs-line-height: 1.2;
$heading-xs-font-size: 24px;
$heading-xs-line-height: 1.2;
$heading-sm-font-size: 32px;
$heading-sm-line-height: 1.2;
$heading-md-font-size: 40px;
$heading-md-line-height: 1.2;

// No "small" breakpoint is defined here because we are mobile-first.
//
// Instead of adding a rule for only mobile, add a mobile rule and override it
// with `@include respond-to(m) { [...] }`.
$breakpoints: (
  m: only screen and
    (
      min-width: 500px,
    ),
  m-height: only screen and
    (
      min-width: 500px,
    )
    and
    (
      min-height: 500px,
    ),
  l: only screen and
    (
      min-width: 720px,
    ),
  xl: only screen and
    (
      min-width: 900px,
    ),
  xxl: only screen and
    (
      min-width: $max-content-width,
    ),
);
