@use 'sass:color';
@use 'blogpost-nav';
@use 'inc/mixins';
@use 'inc/variables';

$pull-quote-color: #4e1a6a;
$breadcrumb-text-color: #52525e;

.blogpost {
  display: grid;
  width: 100%;

  @include mixins.respond-to(xl) {
    grid-template-columns: minmax(30%, 335px) minmax(auto, 765px);
    max-width: 1100px;
  }
}

.blogpost-breadcrumb {
  grid-column: 1 / span 2;
  grid-row: 1;
  margin: 10px 0 30px;

  ol {
    margin: 0;
    padding: 0;

    li {
      display: inline;
      list-style-type: none;
    }

    li:not(:last-child)::after {
      color: $breadcrumb-text-color;
      content: '/';
    }

    a,
    span {
      color: $breadcrumb-text-color;
      font-weight: 400;
      line-height: 1.2;
    }

    li:last-child {
      a {
        text-decoration: none;
      }
    }

    a:hover,
    a:focus,
    a:active {
      color: variables.$link-color;
      text-decoration: none;
    }
  }

  @include mixins.respond-to(xl) {
    margin: 10px 0 50px;
    padding: 0 variables.$default-margin;
  }
}

.blogpost-content {
  grid-column: 1;
  grid-row: 2;

  @include mixins.respond-to(xl) {
    grid-column: 2;
    padding: 0 variables.$default-margin;
  }
}

.blogpost-content-wrapper {
  width: 100%;

  & > *:first-child {
    margin-top: 0;
  }

  h2,
  h3,
  h4,
  h5 {
    a {
      text-decoration: none;
    }
  }

  h2 {
    font-size: variables.$heading-md-font-size;
    line-height: variables.$heading-md-line-height;
    margin-bottom: 0;
  }

  h3 {
    font-size: variables.$heading-sm-font-size;
    line-height: variables.$heading-sm-line-height;
    margin-bottom: 0;
  }

  h4 {
    font-size: variables.$heading-xs-font-size;
    line-height: variables.$heading-xs-line-height;
    margin-bottom: 0;
  }

  h5 {
    font-size: variables.$heading-xxs-font-size;
    line-height: variables.$heading-xxs-line-height;
  }

  li,
  ul,
  p {
    margin: 14px 0;
  }

  img {
    box-shadow: 0 1px 1px color.adjust(variables.$black, $alpha: -0.9);
    height: auto;
    max-width: 100%;
  }

  a:link,
  a:visited,
  a:hover,
  a:focus,
  a:active {
    // stylelint-disable-next-line selector-class-pattern
    &:not(.Button) {
      color: variables.$link-color;
    }
  }

  figure {
    margin: 40px 0;
  }

  figcaption {
    text-align: center;
  }

  .wp-block-pullquote {
    @include mixins.font-bold;

    border-left: 3px solid $pull-quote-color;
    color: $pull-quote-color;
    font-size: variables.$heading-xs-font-size;
    line-height: variables.$heading-xs-line-height;
    margin: 16px 0;
    padding-left: 8px;
    text-transform: uppercase;

    blockquote {
      margin: 0;
    }

    p {
      margin: 0;
    }

    @include mixins.respond-to(xxl) {
      float: right;
      margin-bottom: 24px;
      margin-left: 36px;
      margin-right: -115px;
      width: 450px;
    }
  }

  @include mixins.respond-to(l) {
    max-width: 625px;
  }
}

.blogpost-sidebar {
  grid-column: 1;
  grid-row: 3;
  margin: variables.$default-margin auto;
  width: 100%;

  @include mixins.respond-to(xl) {
    grid-row: 2;
    margin: 0 auto;
    padding: 0 variables.$default-padding;
  }
}

.blogpost-meta {
  display: grid;
  margin: 0;
  text-align: center;

  dt,
  dd {
    display: inline-block;
    margin: 0;
    width: auto;
  }

  .blogpost-meta-updated {
    margin: 0;
  }

  .updated {
    font-weight: bold;
  }

  .blogpost-meta-author {
    margin-top: 0;
    margin-bottom: 6px;
  }

  .blogpost-meta-avatar {
    margin-top: 0;

    img {
      border-radius: 100px;
    }
  }

  .blogpost-meta-share-social {
    margin-bottom: 60px;
    margin-top: 30px;
    order: -1;
  }

  .share-twitter-link {
    background: #1da1f2 url('../img/twitter.svg') 6px center no-repeat;
    border-color: #0d95e8;
    color: variables.$white;
    margin-right: 5px;

    &:hover,
    &:focus,
    &:active {
      background-color: #0d95e8;
    }
  }

  .share-pocket-link {
    background: #f2f2f2 url('../img/pocket.svg') 6px center no-repeat;
    border-color: #c9c9c9;
    color: #777;

    &:hover,
    &:focus,
    &:active {
      background-color: #ececec;
    }
  }

  .share-twitter-link,
  .share-pocket-link {
    background-size: 14px 14px;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    display: inline;
    padding: 3px 5px 3px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 100ms ease-in-out;
  }

  @include mixins.respond-to(xl) {
    text-align: left;

    .blogpost-meta-share-social {
      margin-bottom: 0;
      margin-top: 60px;
      order: initial;
    }
  }
}
