$article-l-width: 324px;
$article-xxl-width: 424px;
$article-padding: 19px;
$max-featured-image-height: 236px;
$title-color: #291c48;
$date-color: #54556b;
$date-font-size: 12px;
$excerpt-margin: 14px;

.blog-entries {
  display: grid;
  grid-gap: 22px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include respond-to(l) {
    grid-template-columns: repeat(auto-fit, minmax($article-l-width, 1fr));
  }

  @include respond-to(xxl) {
    grid-template-columns: repeat(3, $article-xxl-width);
  }
}

.blog-entry {
  margin-bottom: 14px;
}

.blog-entry-link {
  &,
  &:link,
  &:visited {
    color: $title-color;
    text-decoration: none;
  }
}

.blog-entry-featured-image {
  img {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }

  @include respond-to(l) {
    height: auto;
    max-height: $max-featured-image-height;
  }
}

.blog-entry-title,
.blog-entry-excerpt,
.blog-entry-date {
  padding: 0 $article-padding 0;
}

.blog-entry-title {
  font-size: $heading-xs-font-size;
  margin-bottom: 7px;
}

.blog-entry-date {
  color: $date-color;
  font-size: $date-font-size;
  font-weight: 600;
  margin: 0;
}

.blog-entry-excerpt {
  font-size: $body-sm-font-size;
  line-height: $body-sm-line-height;
  margin-top: $excerpt-margin;

  & > *:first-child {
    margin-top: 0;
  }
}

.blog-entry-read-more {
  margin: $excerpt-margin 0 0;
}

.blog-entry-read-more-link {
  border-bottom: 3px solid $link-color;
  color: $link-color;
  font-weight: 600;
  text-decoration: none;

  &::after {
    content: '\00A0\25B8';
    display: inline-block;
    font-size: 19px;
    margin-top: 2px;
    position: absolute;
    transition: margin 150ms cubic-bezier(0.3, -0.5, 0.6, 1.5);
    white-space: nowrap;
  }

  &:hover::after,
  &:active::after,
  &:focus::after {
    margin-left: 4px;
  }
}
