@use 'inc/variables';

.blogpost-nav {
  width: 100%;
  background: #eee;

  ol {
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 3em 10px;
    overflow: hidden;
    max-width: variables.$max-content-width;
  }

  a {
    display: block;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      p {
        color: variables.$link-color;
        text-decoration: underline;
      }

      .blogpost-nav-arrow-right {
        right: 0;
      }

      .blogpost-nav-arrow-left {
        left: 0;
      }
    }
  }

  li {
    box-sizing: border-box;
    float: left;
    list-style-type: none;
    width: 50%;

    &:last-of-type {
      box-shadow: -1px 0 0 0 #ccc;
    }

    &.blogpost-nav-next:last-of-type:first-of-type {
      float: right;
    }

    &.blogpost-nav-next {
      padding: 0 3em 0 1em;
    }

    &.blogpost-nav-prev {
      padding: 0 1em 0 3em;
    }

    &.blogpost-nav-no-prev,
    &.blogpost-nav-no-next {
      box-shadow: none;
    }
  }

  span,
  time,
  p {
    color: variables.$black;
    margin: 0.35em;
  }

  p {
    font-size: 16px;
    font-weight: 600;
  }
}

.blogpost-nav-arrow-left,
.blogpost-nav-arrow-right {
  width: 30px;
  height: 50px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  transition:
    left 250ms cubic-bezier(0.3, -0.5, 0.6, 1.5),
    right 250ms cubic-bezier(0.3, -0.5, 0.6, 1.5);
}

.blogpost-nav-arrow-left {
  left: 10px;
}

.blogpost-nav-arrow-right {
  right: 10px;
}
