@import './blogpost-addon-card';
@import './blogpost-nav';

$pull-quote-color: #4e1a6a;

.blogpost {
  display: grid;
  width: 100%;

  @include respond-to(xl) {
    grid-template-columns: minmax(30%, 335px) minmax(auto, 765px);
    max-width: 1100px;
  }
}

.blogpost-content {
  grid-column: 1;
  grid-row: 1;

  @include respond-to(xl) {
    grid-column: 2;
    padding: 0 $default-margin;
  }
}

.blogpost-content-wrapper {
  width: 100%;

  & > *:first-child {
    margin-top: 0;
  }

  h2 {
    font-size: $heading-md-font-size;
    line-height: $heading-md-line-height;
    margin-bottom: 0;
  }

  h3 {
    font-size: $heading-sm-font-size;
    line-height: $heading-sm-line-height;
    margin-bottom: 0;
  }

  h4 {
    font-size: $heading-xs-font-size;
    line-height: $heading-xs-line-height;
    margin-bottom: 0;
  }

  h5 {
    font-size: $heading-xxs-font-size;
    line-height: $heading-xxs-line-height;
  }

  li {
    margin: $default-margin 0;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    &:not(.Button) {
      color: $link-color;
    }
  }

  .wp-block-pullquote {
    @include font-bold();

    border-left: 3px solid $pull-quote-color;
    color: $pull-quote-color;
    font-size: $heading-xs-font-size;
    line-height: $heading-xs-line-height;
    margin: 16px 0;
    padding-left: 8px;
    text-transform: uppercase;

    blockquote {
      margin: 0;
    }

    p {
      margin: 0;
    }

    @include respond-to(xxl) {
      float: right;
      margin-bottom: 24px;
      margin-left: 36px;
      margin-right: -115px;
      width: 450px;
    }
  }

  @include respond-to(l) {
    max-width: 625px;
  }
}

.blogpost-sidebar {
  grid-column: 1;
  grid-row: 2;
  margin: $default-margin auto;
  width: 100%;

  @include respond-to(xl) {
    grid-row: 1;
    margin: 0 auto;
    padding: 0 $default-padding;
  }
}

.blogpost-meta {
  margin: 0;
  text-align: center;

  dt,
  dd {
    display: inline-block;
    margin: 0;
    width: auto;
  }

  .updated {
    font-weight: bold;
    margin: 0;
  }

  .author {
    margin-top: 0;
    margin-bottom: 6px;
  }

  .author-avatar {
    margin-top: 0;

    img {
      border-radius: 100px;
    }
  }

  @include respond-to(xl) {
    text-align: left;
  }
}
