@import './blogpost-nav';

$pull-quote-color: #4e1a6a;

.blogpost {
  display: grid;
  width: 100%;

  @include respond-to(xl) {
    grid-template-columns: minmax(30%, 335px) minmax(auto, 765px);
    max-width: 1100px;
  }
}

.blogpost-content {
  grid-column: 1;
  grid-row: 1;

  @include respond-to(xl) {
    grid-column: 2;
    padding: 0 $default-margin;
  }
}

.blogpost-content-wrapper {
  width: 100%;

  & > *:first-child {
    margin-top: 0;
  }

  h2 {
    font-size: $heading-md-font-size;
    line-height: $heading-md-line-height;
    margin-bottom: 0;
  }

  h3 {
    font-size: $heading-sm-font-size;
    line-height: $heading-sm-line-height;
    margin-bottom: 0;
  }

  h4 {
    font-size: $heading-xs-font-size;
    line-height: $heading-xs-line-height;
    margin-bottom: 0;
  }

  h5 {
    font-size: $heading-xxs-font-size;
    line-height: $heading-xxs-line-height;
  }

  li,
  ul,
  p {
    margin: 14px 0;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    &:not(.Button) {
      color: $link-color;
    }
  }

  figcaption {
    text-align: center;
  }

  .wp-block-pullquote {
    @include font-bold();

    border-left: 3px solid $pull-quote-color;
    color: $pull-quote-color;
    font-size: $heading-xs-font-size;
    line-height: $heading-xs-line-height;
    margin: 16px 0;
    padding-left: 8px;
    text-transform: uppercase;

    blockquote {
      margin: 0;
    }

    p {
      margin: 0;
    }

    @include respond-to(xxl) {
      float: right;
      margin-bottom: 24px;
      margin-left: 36px;
      margin-right: -115px;
      width: 450px;
    }
  }

  @include respond-to(l) {
    max-width: 625px;
  }
}

.blogpost-sidebar {
  grid-column: 1;
  grid-row: 2;
  margin: $default-margin auto;
  width: 100%;

  @include respond-to(xl) {
    grid-row: 1;
    margin: 0 auto;
    padding: 0 $default-padding;
  }
}

.blogpost-meta {
  display: grid;
  margin: 0;
  text-align: center;

  dt,
  dd {
    display: inline-block;
    margin: 0;
    width: auto;
  }

  .blogpost-meta-updated {
    margin: 0;
  }

  .updated {
    font-weight: bold;
  }

  .blogpost-meta-author {
    margin-top: 0;
    margin-bottom: 6px;
  }

  .blogpost-meta-avatar {
    margin-top: 0;

    img {
      border-radius: 100px;
    }
  }

  .blogpost-meta-share-twitter {
    margin-bottom: 60px;
    margin-top: 30px;
    order: -1;
  }

  .share-twitter-link {
    background: #1da1f2 url('../img/twitter.svg') 6px center no-repeat;
    background-size: 18px 18px;
    border-color: #0d95e8;
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    color: $white;
    display: inline-block;
    padding: 2px 10px 2px 35px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 100ms ease-in-out;

    &:hover,
    &:focus,
    &:active {
      background-color: #0d95e8;
    }
  }

  @include respond-to(xl) {
    text-align: left;

    .blogpost-meta-share-twitter {
      margin-bottom: 0;
      margin-top: 60px;
      order: initial;
    }
  }
}
