.blogpost-wrapper {
  display: flex;
  flex-direction: column;

  @include respond-to(l) {
    flex-direction: row;
  }
}

.blogpost-content {
  width: 100%;

  @include respond-to(l) {
    max-width: 75%;
    order: 2;
  }
}

.blogpost-content-wrapper {
  width: 100%;

  & > *:first-child {
    margin-top: 0;
  }

  h2 {
    font-size: $heading-md-font-size;
    line-height: $heading-md-line-height;
    margin-bottom: 0;
  }

  h3 {
    font-size: $heading-sm-font-size;
    line-height: $heading-sm-line-height;
    margin-bottom: 0;
  }

  h4 {
    font-size: $heading-xs-font-size;
    line-height: $heading-xs-line-height;
    margin-bottom: 0;
  }

  h5 {
    font-size: $heading-xxs-font-size;
    line-height: $heading-xxs-line-height;
  }

  li {
    margin: $default-margin 0;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    &:not(.Button) {
      color: $link-color;
    }
  }

  @include respond-to(xl) {
    max-width: 750px;
  }
}

.blogpost-sidebar {
  @include respond-to(l) {
    flex: 1;
    max-width: 25%;
    order: 1;
  }
}

.blogpost-meta {
  margin: 0;

  dt,
  dd {
    float: left;
    margin: 0;
    text-align: left;
    width: auto;
  }

  dt {
    @include margin-end(1ex);

    clear: left;
  }

  .updated {
    font-weight: bold;
  }
}
