.header {
  background-color: #20123a;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
}

.header-overlay {
  background-color: transparentize(#000, 0.5);
  height: 100%;

  .header--no-featured-image & {
    background-color: transparent;
  }
}

.header-wrapper {
  height: 100%;
  padding-top: 44px;
}

.header-logo {
  // This is width / height of the source SVG.
  $aspectRatio: 4.3125;
  $smallHeight: 48px;
  $smallWidth: $smallHeight * $aspectRatio;
  $largeHeight: 64px;
  $largeWidth: $largeHeight * $aspectRatio;

  // Important: we use a relative path in order to ease the process of building
  // the WordPress theme, and we cannot use the `/assets/` prefix in this file
  // (and other Sass files).
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  background-size: $smallWidth $smallHeight;
  display: block;
  height: $smallHeight;
  margin: 20px auto;
  width: $smallWidth;

  @include respond-to(l) {
    margin-left: 48px;
    margin-top: 0;
  }
}

.header-title {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 44px;
  height: 60vh;
  justify-content: center;
  line-height: 1.2;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 70%;

  @include respond-to(l) {
    font-size: 64px;
  }
}
