.Header {
  min-height: 80vh;
  padding: 1em;
}

.Header h1 {
  color: white;
  font-size: 45px;
  line-height: 1.2;
  margin-top: 30vh;
  text-align: center;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.Header-title {
  // This is width / height of the source SVG.
  $aspectRatio: 4.3125;
  $smallHeight: 48px;
  $smallWidth: $smallHeight * $aspectRatio;
  $largeHeight: 64px;
  $largeWidth: $largeHeight * $aspectRatio;

  // Important: we use a relative path in order to ease the process of building
  // the WordPress theme, and we cannot use the `/assets/` prefix in this file
  // (and other Sass files).
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  background-size: $smallWidth $smallHeight;
  display: block;
  height: $smallHeight;
  margin: 0;
  width: 100%;
}
