// Put font style at the top of the generated CSS file.
@import '../fonts/inter';
@import '../fonts/inter-subset';

// Normalization, vars, mixins and fonts.
@import 'normalize.css/normalize';

// We have to disable the rule below because, without an extension, sass does
// not know whether to load the .scss or .css file.
// stylelint-disable-next-line scss/at-import-partial-extension
@import 'photon-colors/photon-colors.scss';

@import './inc/variables';
@import './inc/mixins';

@import './header';
@import './blogposts';
@import './blog';

* {
  box-sizing: border-box;

  // We cannot use `overflow-wrap: anywhere` because it is not supported by
  // Safari. MDN says `word-break: break-word` "has the same effect as
  // word-break: normal and overflow-wrap: anywhere, regardless of the actual
  // value of the overflow-wrap property".
  word-break: break-word;
}

html,
body {
  height: 100%;
}

body {
  @include font-regular;

  background: $white;
  display: flex;
  flex-direction: column;
  font-size: $body-sm-font-size;
  line-height: $body-sm-line-height;
}

main {
  align-self: center;
  max-width: $max-content-width;
  flex: 1 0 auto;
  padding: $default-padding;

  @include respond-to(l) {
    padding: 40px $default-padding;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Import at the end to avoid side-effects caused by the CSS in this project.
// The file we're importing is built from addons-frontend-blog-utils package by
// sass:build.
/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import 'addons-frontend-blog-utils.style.css';
