@use 'sass:meta';

// Put font style at the top of the generated CSS file.
@use '../fonts/inter';
@use '../fonts/inter-subset';

// Normalization, vars, mixins and fonts.
@use 'normalize.css/normalize';

@use 'inc/variables';
@use 'inc/mixins';

@use 'header';
@use 'blogposts';
@use 'blog';
@use 'blog-utils-fixes';

* {
  box-sizing: border-box;

  // We cannot use `overflow-wrap: anywhere` because it is not supported by
  // Safari. MDN says `word-break: break-word` "has the same effect as
  // word-break: normal and overflow-wrap: anywhere, regardless of the actual
  // value of the overflow-wrap property".
  word-break: break-word;
}

html,
body {
  height: 100%;
}

body {
  @include mixins.font-regular;

  background: variables.$white;
  display: flex;
  flex-direction: column;
  font-size: variables.$body-sm-font-size;
  line-height: variables.$body-sm-line-height;
}

main {
  align-self: center;
  max-width: variables.$max-content-width;
  flex: 1 0 auto;
  padding: variables.$default-padding;

  @include mixins.respond-to(l) {
    padding: 40px variables.$default-padding;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Import at the end to avoid side-effects caused by the CSS in this project.
// The file we're importing is built from addons-frontend-blog-utils package by
// sass:build.
@include meta.load-css('addons-frontend-blog-utils.style');
