---
pagination:
  data: posts
  size: 1
  alias: blogpost
permalink: "{{ blogpost.permalink }}index.html"
---

{% extends "../layouts/base.njk" %}

{% set title = blogpost.title %}
{% set featuredImage = media | mediaGetFullURL(blogpost.featuredImage) %}
{% set author = authors | getAuthor(blogpost.author) %}

{% block content %}
<main aria-label="Content">
  {%- set postModifiedDate = blogpost.modified | readableDate -%}
  {%- set postContent = blogpost.content | buildStaticAddonCards | safe -%}
  {%- set postAuthor = author.name -%}
  {%- set postAuthorAvatar = author.avatar_urls[96] -%}
  {%- set tweetText = blogpost.title | urlencode -%}
  {%- set tweetURL = blogpost.absolutePermalink | urlencode -%}
  {%- set postPermalink = blogpost.permalink -%}

  {%- include 'blogpost.njk' -%}
</main>

{% set prevPost = posts | getPrevPost(blogpost) %}
{% set nextPost = posts | getNextPost(blogpost) %}

<nav class="blogpost-nav">
  <ol>
    {% if prevPost %}
      {% set prevPostPermalink = prevPost.permalink %}
      {% set prevPostTitle = prevPost.title %}
      {% set prevPostDate = prevPost.date %}
      {% set prevPostReadableDate = prevPost.date | readableDate %}
      {% if not nextPost %}
      {% set prevExtraClass = ' blogpost-nav-no-next' %}
      {% endif %}

      {% include 'blogpost-nav-prev.njk' %}
    {% endif %}

    {% if nextPost %}
      {% set nextPostPermalink = nextPost.permalink %}
      {% set nextPostTitle = nextPost.title %}
      {% set nextPostDate = nextPost.date %}
      {% set nextPostReadableDate = nextPost.date | readableDate %}
      {% if not prevPost %}
      {% set nextExtraClass = ' blogpost-nav-no-prev' %}
      {% endif %}

      {% include 'blogpost-nav-next.njk' %}
    {% endif %}
  </ol>
</nav>
{% endblock content %}
