---
layout: base.njk
useMarkupHeader: true
---

{% block content %}
<ul class="blog-entries">
  {%- for post in posts -%}
    {%- set postFeaturedImage = media | mediaGetMediumURL(post.featuredImage) -%}
    {%- set postPermalink = post.permalink -%}
    {%- set postTitle = post.title -%}
    {%- set postDate = post.date -%}
    {%- set postHumanReadableDate = post.date | readableDate -%}
    {%- set postExcerpt = post.excerpt -%}

    {%- include 'blog-entry.njk' -%}
  {%- endfor -%}
</ul>
{% endblock %}
