---
pagination:
  data: categories
  size: 1
  alias: cat
permalink: /blog/categories/{{ cat.slug }}/
layout: base
---
<h1>Category “{{ cat.name }}”</h1>
<ol>
{% set postlist = posts | postsWithCategory(cat) %}
{% for post in postlist | reverse %}
  <li><a href="{{ post.postUrl | url }}">{{ post.title.rendered | safe }}</a></li>
{% endfor %}
</ol>
