---
layout: base.njk
useHeaderMarkup: true
eleventyExcludeFromCollections: true
---

{% block content %}
<p>This would be the homepage on the real site.</p>
<p><a href="/blog/">Go to the blog</a></p>
{% endblock %}
