---
pagination:
  data: tags
  size: 1
  alias: tag
permalink: /tags/{{ tag.slug }}/
layout: base
---
<h1>Tagged “{{ tag.name }}”</h1>

<ol>
{% set taglist = posts[ tag.id ] %}
{% for post in taglist | reverse %}
  <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
{% endfor %}
</ol>
