---
layout: base.njk
permalink: index.php
config:
  asset_path: "<?= get_template_directory_uri() ?>"
  no_atom_feed: true
useHeaderMarkup: true
---

{% block content %}
<ul class="blog-entries">
  <?php while (have_posts()) : the_post(); ?>
    {%- set postFeaturedImage = "<?= get_the_post_thumbnail_url(get_the_id(), 'full') ?>" | safe -%}
    {%- set postPermalink = "<?= get_permalink() ?>" | safe -%}
    {%- set postTitle = "<?= get_the_title() ?>" | safe -%}
    {%- set postDate = "<?= get_the_time(DateTime::ISO8601) ?>" | safe -%}
    {# The format used below is equivalent to the following Luxon format: LLLL d, kkkk #}
    {%- set postHumanReadableDate = "<?= get_the_time('F j, Y') ?>" | safe -%}
    {# The WordPress API returns an excerpt inside `<p>` tags, so we mimic this behavior below. #}
    {%- set postExcerpt = "<p><?= get_the_excerpt() ?></p>" | safe -%}

    {%- include 'blog-entry.njk' -%}
  <?php endwhile; ?>
</ul>
{% endblock %}
