---
permalink: single.php
config:
  # Luxon format: LLLL d, kkkk
  readable_date_format: F j, Y
  asset_path: "<?= get_template_directory_uri() ?>"
---

{% extends "../layouts/base.njk" %}

{% set title = '<?= get_the_title() ?>' | safe %}
{% set featuredImage = '<?= get_the_post_thumbnail_url(get_the_id(), "full") ?>' | safe %}

{% block content %}
<main aria-label="Content">
  <?php while (have_posts()) : the_post(); ?>
    <div class="Blog-wrapper">
      <div class="Blog">
        <div class="Content-wrapper">
          <?= get_the_content() ?>
        </div>
      </div>
      <aside class="Sidebar">
        <dl class="Meta">
          <dt class="published">
            Updated
          </dt>
          <dd class="published">
            <?= get_the_time('{{ config.readable_date_format }}') ?>
          </dd>
          <dt>Author</dt>
          <dd>
            <ul class="Authorlist">
              <li class="Author"><?= get_the_author() ?></li>
            </ul>
          </dd>
        </dl>
      </aside>
    </div>
  <?php endwhile; ?>
</main>
{% endblock content %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ config.asset_path|safe }}/assets/css/addons-frontend-card.css">
{% endblock %}

{% block javascripts %}
{{ super() }}
<script src="{{ config.asset_path|safe }}/assets/js/addons-frontend-card.js"></script>
<script src="{{ config.asset_path|safe }}/assets/js/addon-cards.js"></script>
{% endblock %}
