---
permalink: single.php
config:
  asset_path: "<?= get_template_directory_uri() ?>"
  no_atom_feed: true
---

{% extends "../layouts/base.njk" %}

{% set title = "<?= get_the_title() ?>" | safe %}
{% set featuredImage = "<?= get_the_post_thumbnail_url(get_the_id(), 'full') ?>" | safe %}

{% block content %}
<?php while (have_posts()) : the_post(); ?>
<main aria-label="Content">
    {# The format used below is equivalent to the following Luxon format: LLLL d, kkkk #}
    {%- set postModifiedDate = "<?= get_the_modified_date('F j, Y') ?>" | safe -%}
    {%- set postContent = "<?= get_the_content() ?>" | safe -%}
    {%- set postAuthor = "<?= get_the_author() ?>" | safe -%}
    {%- set postAuthorAvatar = "<?= get_avatar_url(get_the_author_meta('ID'), ['size' => 96]) ?>" | safe -%}

    {%- include 'blogpost.njk' -%}
</main>

<?php $prevPost = get_previous_post(); ?>
<?php $nextPost = get_next_post(); ?>

<nav class="blogpost-nav">
  <ol>
    <?php if ($prevPost) : ?>
      {% set prevPostPermalink = "<?= get_permalink($prevPost->ID) ?>" | safe %}
      {% set prevPostTitle = "<?= get_the_title($prevPost->ID) ?>" | safe %}
      {% set prevPostDate = "<?= get_the_time(DateTime::ISO8601, $prevPost) ?>" | safe %}
      {% set prevPostReadableDate = "<?= get_the_time('F j, Y', $prevPost) ?>" |safe %}
      {% set prevExtraClass = "<?= empty($nextPost) ? ' blogpost-nav-no-next' : '' ?>" | safe %}

      {% include 'blogpost-nav-prev.njk' %}
    <?php endif; ?>

    <?php if ($nextPost) : ?>
      {% set nextPostPermalink = "<?= get_permalink($nextPost->ID) ?>" | safe %}
      {% set nextPostTitle = "<?= get_the_title($nextPost->ID) ?>" | safe %}
      {% set nextPostDate = "<?= get_the_time(DateTime::ISO8601, $nextPost) ?>" | safe %}
      {% set nextPostReadableDate = "<?= get_the_time('F j, Y', $nextPost) ?>" |safe %}
      {% set nextExtraClass = "<?= empty($prevPost) ? ' blogpost-nav-no-prev' : '' ?>" | safe %}

      {% include 'blogpost-nav-next.njk' %}
    <?php endif; ?>
  </ol>
</nav>
<?php endwhile; ?>
{% endblock content %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ config.asset_path | safe }}/blog/assets/css/addons-frontend-blog-utils.css">
{% endblock %}

{% block javascripts %}
{{ super() }}
<script src="{{ config.asset_path | safe }}/blog/assets/js/addons-frontend-blog-utils.js"></script>
<script src="{{ config.asset_path | safe }}/blog/assets/js/addon-cards.js"></script>
{% endblock %}
