<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include "head.njk" %}
  <body>
    {% include "header.njk" %}

    {% block content %}
    <main aria-label="Content">
      {{ content | safe }}
    </main>
    {% endblock content %}

    {{ markup.footer | safe }}

    <script src="{{ config.asset_path|safe }}/assets/js/bundle.js"></script>
  </body>
</html>
