<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %}{{ title }} - {% endif %}{{ markup.siteTitle }}</title>

    <link href="{{ config.asset_path | safe }}/blog/assets/fonts/woff2/Inter-roman-subset-en_de_fr_ru_es_pt_pl_it.var.woff2" crossorigin="anonymous" rel="preload" as="font" type="font/woff2">

    {% if blogpost %}
    {{ blogpost.seoHead | safe({ isHeadMarkup: true }) }}
    {% elif not config.is_wordpress_theme and not config.is_404 %}
    <link rel="canonical" href="{{ markup.baseURL }}{{ page.url }}">
    <meta name="description" content="{{ markup.siteDescription }}">
    <meta property="og:locale" content="en-US">
    <meta property="og:type" content="blog">
    <meta property="og:title" content="{{ markup.siteTitle }}">
    <meta property="og:description" content="{{ markup.siteDescription }}">
    <meta property="og:url" content="{{ markup.baseURL }}{{ page.url }}">
    <meta property="og:site_name" content="{{ markup.siteTitle }}">
    <meta property="og:image" content="{{ markup.baseURL }}/blog/assets/img/default-social-image.png">
    <meta name="twitter:site" content="@mozamo">
    <meta name="twitter:card" content="summary_large_image">
    {% endif %}

    <link rel="shortcut icon" href="{{ config.asset_path | safe }}/blog/assets/img/favicon.ico">

    {%- if not config.is_wordpress_theme and not config.is_404 %}
    <link rel="alternate" type="application/atom+xml" title="{{ markup.siteTitle }} RSS Feed" href="/blog/feed.xml">
    {%- endif %}

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ config.asset_path | safe }}/blog/assets/css/styles.css">
    {%- endblock %}
  </head>
  <body>
    {% if useHeaderMarkup %}
      {{ markup.header | safe }}
    {% else %}
      {% if featuredImage %}
      <header class="header" style="background-image: url('{{ featuredImage }}');">
      {% else %}
      <header class="header header--no-featured-image">
      {% endif %}
        <div class="header-overlay">
          <div class="header-wrapper">
            <a class="header-logo" href="/">
              <span class="visually-hidden">Firefox Browser Add-ons</span>
            </a>

            <h1 class="header-title">
              {% if title %}{{ title }}{% else %}{{ markup.siteTitle }}{% endif %}
            </h1>
          </div>
        </div>
      </header>
    {% endif %}

    {% block content %}
    <main aria-label="Content">
      {{ content | safe }}
    </main>
    {% endblock content %}

    {{ markup.footer | safe }}

    {% block javascripts %}
    <script src="{{ config.asset_path | safe }}/blog/assets/js/bundle.js"></script>
    {% endblock %}
  </body>
</html>
