<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %}{{ title }} - {% endif %}{{ markup.siteTitle }}</title>

    {{ blogpost.seoHead | safe({ isHeadMarkup: true }) }}

    <link rel="shortcut icon" href="{{ config.asset_path | safe }}/blog/assets/img/favicon.ico">

    {%- if not config.no_atom_feed %}
    <link rel="alternate" type="application/atom+xml" title="{{ markup.siteTitle }} RSS Feed" href="/blog/feed.xml">
    {%- endif %}

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ config.asset_path | safe }}/blog/assets/css/styles.css">
    {%- endblock %}
  </head>
  <body>
    {% if useMarkupHeader %}
      {{ markup.header | safe }}
    {% else %}
      {% if featuredImage %}
      <header class="header" style="background-image: url('{{ featuredImage }}');">
      {% else %}
      <header class="header header--no-featured-image">
      {% endif %}
        <div class="header-overlay">
          <div class="header-wrapper">
            <a class="header-logo" href="/">
              <span class="visually-hidden">Firefox Browser Add-ons</span>
            </a>

            <h1 class="header-title">
              {% if title %}{{ title }}{% else %}{{ markup.siteTitle }}{% endif %}
            </h1>
          </div>
        </div>
      </header>
    {% endif %}

    {% block content %}
    <main aria-label="Content">
      {{ content | safe }}
    </main>
    {% endblock content %}

    {{ markup.footer | safe }}

    {% block javascripts %}
    <script src="{{ config.asset_path | safe }}/blog/assets/js/bundle.js"></script>
    {% endblock %}
  </body>
</html>
